/******************************************/
/*********     TOGGLE CLASSES     *********/
/******************************************/
.hidden {
  visibility: hidden; }

.visible {
  visibility: visible; }

/******************************************/
/*********       NAVIGATION       *********/
/******************************************/
.nav-tabs {
  background-color: #FFB4B0;
  color: #fff;
  font-weight: bold;
  margin-bottom: 15px; }
  .nav-tabs > li > a {
    color: #a8342e; }
  .nav-tabs > li.active > a {
    background-color: #a8342e;
    color: #fff; }
    .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
      background-color: #a8342e;
      color: #fff; }

/******************************************/
/*********       OPTIONS BAR      *********/
/******************************************/
.options {
  background-color: #4dd7fa;
  border: 15px solid transparent;
  height: 400px;
  border-radius: 5px; }

.majorLabels {
  margin: 10px;
  display: block; }

input[type=range], .options select {
  width: 80%;
  margin: 5px 10%; }

.checkbox {
  display: flex;
  flex-wrap: wrap; }
  .checkbox li {
    width: 50%;
    list-style: none; }
    .checkbox li label {
      margin: 2px;
      padding-left: 2px; }

#filter {
  text-align: center;
  width: 80%;
  margin: 20px 10%; }

/******************************************/
/*********     MAIN SONG LIST     *********/
/******************************************/
#songList {
  height: 400px;
  background-color: #FEFAC0;
  border-radius: 5px;
  overflow: auto;
  border: 15px solid transparent; }

h2 {
  color: #785616; }

#songList ul {
  width: 100%;
  display: flex;
  justify-content: space-between; }

#songList li {
  display: inline-block;
  list-style: none;
  border-radius: 5px;
  border: 2px solid #785616;
  width: 20%;
  text-align: center;
  padding-top: 5px; }

.deleteButton {
  background-color: #785616;
  color: #fff; }
  .deleteButton:hover {
    color: #fff; }

#moreButton {
  margin: 5px 30px 0 0;
  float: right; }

/******************************************/
/*********     ADD SONG VIEW      *********/
/******************************************/
#addMusicView {
  background-color: #708090;
  width: 50%;
  margin: 10px 25%; }

.inputRow input {
  width: 80%;
  margin: 5px 10%; }

.inputRow label {
  margin: 5px 10%; }

#addMusicView button {
  width: 60%;
  margin: 20px 20%; }
