$white-accent: #E3DED0;
$gray-accent: #D59858;
$pepto-bismal: #837D7F;
$brick-house: #7C3655; // 
$sky-blue: #5C9598; //
$light-yellow: #007680;
$poop-gold: #C4B7A5;

/******************************************/
/*********     TOGGLE CLASSES     *********/
/******************************************/

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

/******************************************/
/*********       NAVIGATION       *********/
/******************************************/
body {
  width: 90%;
  margin: 5%;
  background-color: #E3DED0;
}



.nav-tabs {
  background-color: $pepto-bismal;
  color: $white-accent;
  width: 103%;
  margin: -1.5%;
  border-radius: 2px;
  font-weight: bold;
  margin-bottom: 15px;
  border-top: none;
  border-bottom: none;
  > li {
    margin-left: 10px;
    border-top: none;
    border-bottom: none;
    > a {
      color: $brick-house;
      border-top: none;
      border-bottom: none;
    }
    &.active > a {
      background-color: $brick-house;
      color: $white-accent;
      border-top: none;
      border-bottom: none;
      &:focus, &:hover {
        background-color: $brick-house;
        color: $white-accent;
        border-top: none;
        border-bottom: none;
      }
    }
  }
}



/******************************************/
/*********       OPTIONS BAR      *********/
/******************************************/
.options {
  background-color: $sky-blue;
  border: 15px solid transparent;
  height: 400px;
  border-radius: 5px;
}

.majorLabels {
  margin: 10px;
  display: block;
}

input[type=range], .options select {
  width: 80%;
  margin: 5px 10%;
}

.checkbox {
  display: flex;
  flex-wrap: wrap;
  li {
    width: 50%;
    list-style: none;
    label {
      margin: 2px;
      padding-left: 2px;
    }
  }
}

#filter {
  text-align: center;
  width: 80%;
  margin: 20px 10%;
}


/******************************************/
/*********     MAIN SONG LIST     *********/
/******************************************/
#songList {
  height: 400px;
  background-color: $light-yellow;
  border-radius: 5px;
  overflow: auto;
  border: 15px solid transparent;
}

h2 {
  color: $poop-gold;
  margin-left: 0;
  text-align: center;
  background-color: rgba($sky-blue, 50%);
  border-radius: 5px;
  width: 85%;
  }

#songList {
  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  li {
    display: inline-block;
    list-style: none;
    border-radius: 5px;
    border: 2px solid $poop-gold;
    width: 20%;
    text-align: center;
    padding-top: 5px;
  }
}

.deleteButton {
  background-color: $gray-accent;
  color: $white-accent;
  &:hover {
    color: $white-accent;
  }
}

.editButton {
  background-color: $brick-house;
  color: $white-accent;
  &:hover {
    color: $white-accent;
  }
}

#moreButton {
  margin: 5px 30px 0 0;
  float: right;
}


/******************************************/
/*********     ADD SONG VIEW      *********/
/******************************************/
#addMusicView {
  background-color: $gray-accent;
  width: 50%;
  margin: 10px 25%;
}

.inputRow {
  input {
    width: 80%;
    margin: 5px 10%;
  }
  label {
    margin: 5px 10%;
  }
}

#addMusicView button {
  width: 60%;
  margin: 20px 20%;
}